svg {
    z-index: 100;
    overflow: hidden;
}

.mapHeading {
    text-shadow: black 0.1em 0.1em 0.2em;
    fill: white;
}

.objectiveHeading {
    text-shadow: black 0.1em 0.1em 0.2em;
    fill: white;
    font-size: 7px;
}

.objectiveGuildHeading {
    font-size: 4px;
    fill: white;
}

.title_bg {
    fill: rgba(0,0,0, 0.4);
}

.chartText {
    fill: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 8px;
}

#chart_scores {
    stroke: black;
    stroke-width: 1px;
}

.details {
    overflow: hidden;
    position: fixed;
    top: 60px;
    bottom: 40px;
    right: 10px;
    z-index: 1050;
    width: 250px;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

@media (max-width: 767px) {
    .details {
        position: fixed;
        top: 60px;
        right: 20px;
        left: 20px;
        width: auto;
        margin: 0;
    }
}

@media (max-width: 480px) {
    .details {
        top: 60px;
        right: 10px;
        left: 10px;
    }

    .eventbox {
        width: auto;
        left: 20px;
        right: 20px;
        position: fixed;
        bottom: 0px;
        left: 50%;
        height: 120px;
    }
}

#details {
    display: none;    
    background: rgba(0,0,0, 0.6);
    color: white;
    cursor: pointer;
}

.warroom {
    overflow: hidden;
    position: fixed;
    top: 50%;
    bottom: 40px;
    left: 0px;
    z-index: 1050;
    width: 250px;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

#details .Green {
    text-shadow: green 0.1em 0.1em 0.2em;
}

#details .Blue {
    text-shadow: blue 0.1em 0.1em 0.2em;
}

#details .Red {
    text-shadow: red 0.1em 0.1em 0.2em;
}

#infobox {
    position: fixed;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    width: 200px;
    z-index: 101;
}

#eventbox {
    -moz-border-radius: 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;    
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    display: block;
    z-index: 101;
    overflow: hidden;
    text-align: justify;
    position: fixed;
    color: white;
    bottom: 0px;
    left: 50%;
    height: 120px;
    width: 500px;
    margin-left: -250px;
    text-shadow: aqua 0.1em 0.1em 0.2em;
    background: rgba(0,0,0, 0.6);
    cursor: pointer;
}

.e_Active {

    background: rgba(152, 171, 197, 0.4);
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;

}

.e_Warmup {
    background: rgba(138, 137, 166, 0.4);
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.e_Preparation {

    background: rgba(123, 104, 136, 0.4);
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.e_Fail {

    background: rgba(200, 50, 50, 0.4);
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.e_Success {

    background: rgba(255, 255, 255, 0.4);
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.e_Green {
    background: rgba(50, 200, 50, 0.4);
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.e_Blue {
    background: rgba(50, 50, 200, 0.4);
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.e_Red {
    background: rgba(200, 50, 50, 0.4);
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.wvwMapHeading {
    font-size: 16px;
    fill: white;
    text-shadow: white 0.1em 0.1em 0.2em;
    text-anchor: end;
    font-weight: bold;
    padding: 5px;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 2000;
}